# Python cache
__pycache__/
*.pyc

# VS Code history
.history/

# Node modules
node_modules/

# Environment variables
.env
.env.*
!.env.example

# Python virtual environment
.venv/
venv/

# Build files
dist/
build/